<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아르바이트 목록</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/alba/list.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
</head>
<body>
    <div th:replace="/header/header.html :: header" class="header"/>

    <div id="wrap">
        <!--서브 배너-->
        <div id="sub_banner">
            <div class="sub_banner_content">
                <div class="left-content">
                    <h2>내가 좋아하고<br>잘할 수 있는 일 찾기</h2>
                    <p>3개의 일경험으로 찾는 진로</p>
                </div>
                <div class="right-content">
                    <img src="/image/alba/sub-banner.png">
                </div>
            </div>
        </div>

        <!--가장 인기 있는 아르바이트 목록(8개)-->
        <div id="alba_list">
            <h2>가장 인기 있는 아르바이트 정보</h2>
            <div class="alba_list_list">
                <!--아래부터 div 추가-->
                <div class="alba_div" onclick="location.href='/alba/detail'">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
            </div>
        </div>

        <!--일반 아르바이트 목록-->
        <div id="normal_alba_list">
            <!--목록 위에 총 개수 + 필터 메뉴-->
            <div class="top-div">
                <h1>일반 채용정보</h1>
                <p>총 <span>20</span>건</p>
            </div>
            <div class="top-div-filter">
                <span style="color: #000000">최신순</span>
                <span>시급순</span>
                <span>모집중</span>
            </div>

            <!--알바 찐 목록 list-->
            <div class="normal_alba_list">
                <!--th 부분-->
                <div id="list_th">
                    <span class="location">근무지</span>
                    <span class="title">공고제목</span>
                    <span class="workHours">근무시간</span>
                    <span class="pay">급여</span>
                    <span class="registerDay">등록일</span>
                </div>
                <!--아래부터 리스트 쭉 출력해야함-->
                <div class="list_td">
                    <div class="location"><p>서울 강서구</p></div>
                    <div class="title"><a href="/alba/detail">논산 딸기재배 아르바이트 (<span>모집중</span>)</a></div>
                    <div class="workHours">09:00~18:00</div>
                    <div class="pay">
                        <p class="miniText">시급</p>
                        12,000
                    </div>
                    <div class="registerDay">3분 전</div>
                </div>
                <div class="list_td">
                    <div class="location"><p>경남 진주시</p></div>
                    <div class="title"><a href="#">딸기 선별하실 알바님 구합니다. (<span>모집중</span>)</a></div>
                    <div class="workHours">09:00~18:00</div>
                    <div class="pay">
                        <p class="miniText">시급</p>
                        9,720
                    </div>
                    <div class="registerDay">1시간 전</div>
                </div>
                <div class="list_td">
                    <div class="location"><p>대구 북구</p></div>
                    <div class="title"><a href="#">농산 소포장하실 분 모집합니다. (<span>모집마감</span>)</a></div>
                    <div class="workHours">09:00~18:00</div>
                    <div class="pay">
                        <p class="miniText">시급</p>
                        9,160
                    </div>
                    <div class="registerDay">1일 전</div>
                </div>
                <div class="list_td">
                    <div class="location"><p>서울 강서구</p></div>
                    <div class="title"><a href="#">농산물(양파)가공 현장사원 및 납품사원 모집 (<span>모집마감</span>)</a></div>
                    <div class="workHours">시간협의</div>
                    <div class="pay">
                        <p class="miniText">시급</p>
                        협의 후 진행
                    </div>
                    <div class="registerDay">1년 전</div>
                </div>
            </div>
            <div id="writeBtn">
                <button type="button" onclick="location.href = `/alba/write`">글쓰기</button>
            </div>

            <!--페이징 처리-->
            <div id="page">
                <div class="page_nation">
                    <a class="arrow pprev" href="#"></a>
                    <a class="arrow prev" href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a class="arrow next" href="#"></a>
                    <a class="arrow nnext" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="/footer/footer.html :: footer" class="footer"/>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/alba/list.js"></script>
</html>