<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아르바이트 목록</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/alba/list.css"/>
</head>
<body>
    <div th:replace="/header/header.html :: header" class="header"/>

    <div id="wrap">
        <!--서브 배너-->
        <div id="sub_banner">
            <div class="sub_banner_content">
                <div class="left-content">
                    <h2>내가 좋아하고<br>잘할 수 있는 일 찾기</h2>
                    <p>3개의 일경험으로 찾는 진로</p>
                </div>
                <div class="right-content">
                    <img src="/image/alba/sub-banner.png">
                </div>
            </div>
        </div>

        <!--아르바이트 목록-->
        <div id="alba_list">
            <h2>헤드라인 아르바이트 정보</h2>
            <div class="alba_list_list">
                <!--아래부터 div 추가-->
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>
                <div class="alba_div">
                    <img src="https://cdn.comento.kr/edu/title_mmVkR6Q0Mz.jpeg?s=518x272&q=75">
                    <div>0/4명 ・ <span>시급: 10200원</span></div>
                    <p class="alba_title">논산에서 함께 딸기재배를 진행할 아르바이트생을 구합니다.</p>
                </div>

                
            </div>
        </div>


        <footer th:replace="/footer/footer.html :: footer" class="footer"/>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    /*$("#sub_header").css("display", "inline-block");*/
</script>
</html>