<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/community.css" />
    <link rel="stylesheet" href="/css/myPage/list.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main">
    <div class="wrap" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents minus-p">
                    <div class="c-header">
                        <div class="c-title">
                            <div>내 아르바이트</div>
                            <button class="s-button l-writeBtn">
                                <svg data-v-bd9f2bcc="" data-v-79e0399f="" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon" data-v-ace7c8aa="" style="fill: rgb(255, 255, 255);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V13.5C8.5 13.7761 8.27614 14 8 14C7.72386 14 7.5 13.7761 7.5 13.5V2.5C7.5 2.22386 7.72386 2 8 2Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 8.27614 13.7761 8.5 13.5 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L13.5 7.5C13.7761 7.5 14 7.72386 14 8Z"></path></svg>
                                아르바이트 만들기
                            </button>
                        </div>
                        <div class="content">
                            <!-- 아르바이트 내역 없을 경우 -->
<!--                            <div id="content-wrap">-->
<!--                                <div class="n-c-wrap" style="line-height: 25px;">-->
<!--                                    아르바이트 목록이 없어요.<br>-->
<!--                                    지금 아르바이트를 개설해 보세요!-->
<!--                                </div>-->
<!--                            </div>-->
                            <!------------------------>
                            <div id="c-w-wrap">
                                <div id="ls-wrap" class="f-column">
                                    <div class="f-wrap" style="">

                                        <!---->
                                        <div class="list-wrap">
                                            <div class="myProgram f-column select-l">
                                                <div class="list-img">
                                                    <img src="https://cdn.comento.kr/images/pt/tmp/prefix_4gTSmjheRr.png" class="program-img">
                                                    <div class="applied-cancel">
                                                        <a href="#"><div class="a-c-btn" style="margin-bottom: 1px;">수정하기</div></a>
                                                        <a href="#"><div class="a-c-btn">삭제하기</div></a>
                                                    </div>
                                                    <img src="/image/myPage/option.png" class="l-menuBtn l-m-btn">
                                                </div>
                                                <div class="list-text">
                                                    <div class="l-text l-ing">진행 예정</div>
                                                    <div class="l-m-c">∙</div>
                                                    <div class="l-text">경기도</div>
                                                    <div class="l-m-c">∙</div>
                                                    <div class="l-text l-price">10,000</div>
                                                </div>
                                                <div class="list-title">화단 가꾸기</div>
                                            </div>
                                            <div class="start-day">2022.11.17</div>
                                        </div>
                                        <!---->
                                        <!---->
                                        <div class="list-wrap">
                                            <div class="myProgram f-column select-l">
                                                <div class="list-img">
                                                    <img src="https://cdn.comento.kr/images/pt/tmp/prefix_4gTSmjheRr.png" class="program-img">
                                                    <div class="applied-cancel">
                                                        <a href="#"><div class="a-c-btn" style="margin-bottom: 1px;">수정하기</div></a>
                                                        <a href="#"><div class="a-c-btn">삭제하기</div></a>
                                                    </div>
                                                    <img src="/image/myPage/option.png" class="l-menuBtn l-m-btn">
                                                </div>
                                                <div class="list-text">
                                                    <div class="l-text l-ing">진행 예정</div>
                                                    <div class="l-m-c">∙</div>
                                                    <div class="l-text">충청북도</div>
                                                    <div class="l-m-c">∙</div>
                                                    <div class="l-text l-price">200,000</div>
                                                </div>
                                                <div class="list-title">콩 수확 등 밭작물 관리</div>
                                            </div>
                                            <div class="start-day">2022.11.17 시작</div>
                                        </div>
                                        <!---->

                                    </div>
                                </div>
                            </div>
                            <!------------------------>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script src="/js/myPage/list.js"></script>
<script>
    $("div.menu-a").removeClass('menu-select');
    $("#alba").addClass('menu-select');
</script>
</html>