<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<select name="year" id="year" title="년도" class="custom-select"></select>
<select name="month" id="month" title="월" class="custom-select"></select>
<select name="day" id="day" title="일" class="custom-select"></select>
</body>
<script>
    $(document).ready(function () {
        setDateBox();
    });

    // select box 연도 , 월 표시
    function setDateBox() {
        var dt = new Date();
        var year = "";
        var com_year = dt.getFullYear();

        // 발행 뿌려주기
        $("#year").append("<option value=''>년도</option>");

        // 올해 기준으로 -50년부터 +1년을 보여준다.
        for (var y = (com_year - 50); y <= (com_year - 15); y++) {
            $("#year").append("<option value='" + y + "'>" + y + " 년" + "</option>");
        }

        // 월 뿌려주기(1월부터 12월)
        var month;
        $("#month").append("<option value=''>월</option>");
        for (var i = 1; i <= 12; i++) {
            $("#month").append("<option value='" + i + "'>" + i + " 월" + "</option>");
        }

        // 일 뿌려주기(1일부터 31일)
        var day;
        $("#day").append("<option value=''>일</option>");
        for (var i = 1; i <= 31; i++) {
            $("#day").append("<option value='" + i + "'>" + i + " 일" + "</option>");
        }

    }
</script>
</html>