<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/mentoring.css" />
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div class="fake-header"></div>
<div id="main">
    <div id="main-tab" class="wrap-w" style="padding-bottom: 0">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/sidemenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div class="contents">
                    <div class="c-header">
                        <div class="c-title">
                            <!-- 멘티일 때-->
<!--                            <div>멘티 목록</div>-->
                            <!-- 멘토일 때 -->
                            <div>멘토 관리</div>
                            <!----------->
                        </div>

                        <!-- 멘티일 때 -->
<!--                        <div th:replace="/myPage/mentoringContent.html :: mentoringMentee"></div>-->
                        <!----------->

                        <!-- 멘토일 때 -->
                        <div th:replace="/myPage/mentoringContent.html :: mentoringMentor"></div>
                        <!----------->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
<!-- 농장주 - 멘티 삭제 모달창 -->
<div id="farmer-delete" class="overlay-l" style="display: none">
    <div class="alam">
        <p>정말 삭제하시겠습니까?</p>
        <div class="alam-btn-group">
            <button class="a-ok">삭제</button>
            <button type="button" class="a-no">취소</button>
        </div>
    </div>
</div>

<!-- 농장주 - 신청 거절 모달창 -->
<div id="farmer-refuse" class="overlay-l" style="display: none">
    <div class="alam">
        <p>정말 거절하시겠습니까?</p>
        <div class="alam-btn-group">
            <button class="a-ok">거절</button>
            <button type="button" class="a-no">취소</button>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script>
    $("div.menu-a").removeClass('menu-select');
    $("#mentoring").addClass('menu-select');

    // 멘티 삭제 확인 알람
    function deleteCheck(){
        $("#farmer-delete").show();
    };
    $(".a-no").on("click", function(){
        $("#farmer-delete").hide();
    });

    // 멘티 신청 거절 확인 알람
    function refuseCheck(){
        $("#farmer-refuse").show();
    };
    $(".a-no").on("click", function(){
        $("#farmer-refuse").hide();
    });

    function move(tab){
        $(".myInfo").css('height', '0px');
        $(".myInfo").css('padding', '0');
        $('.infoBtn>svg').css("transform", "rotate(180deg)");

        $(".menu-tab button").removeClass('active');
        $("button." + tab).addClass('active');
        $('.content-m-wrap').hide();
        $("#" + tab).show();
    };
</script>
</html>