<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너와농부싶어</title>
    <link rel="stylesheet" href="/css/myPage/sideMenu.css" />
    <link rel="stylesheet" href="/css/myPage/payment.css" />
    <link rel="stylesheet" href="/css/common/font.css" />
</head>
<body>
<div id="main">
    <div class="wrap">
        <div class="container">
            <div class="contentsWrap">
                <!--메뉴 카텍고리 시작-->
                <div th:replace="/myPage/myPageMenu.html :: myPageMenu"></div>
                <!--컨텐츠 시작-->
                <div id="contents">
                    <div class="c-header">
                        <div class="c-title">
                            <div>결제 내역</div>
                        </div>
                        <div class="content">
                            <!-- 결제 내역이 없을 경우 -->
                            <!--<div id="none-content">
                                <div class="n-c-wrap">
                                    결제 내역이 없습니다.
                                </div>
                            </div>-->
                            <!------------------------>
                            <div id="pay-wrap">
                                <table class="pay-table" border="1">
                                    <colgroup>
                                        <col width="18%"/>
                                        <col width="44%"/>
                                        <col width="16%"/>
                                        <col width="17%"/>
                                        <col width="7%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>결제 번호</th>
                                            <th>프로그램명</th>
                                            <th>금액</th>
                                            <th>결제 날짜</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>202211131.</td>
                                            <td>기초부터 탄탄하게!!</td>
                                            <td>150,000</td>
                                            <td>2022-11-13</td>
                                            <td><button>취소</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/myPage.js"></script>
<script>
    $("div.menu-a").removeClass('menu-select');
    $("#payment").addClass('menu-select');
</script>
</html>