<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css" />
</head>
<body>
    <div class="main">
        <div class="wrap">
            <div class="container">
                <div class="contentsWrap">
                    <!--메뉴시작-->
                    <div class="menuContainer">
                        <aside class="asideMenu">
                            <div class="profile">
                                <div class="nickname">주어머거라</div>
                                <div class="email">
                                    <span class="id">dyddyd310@naver.com</span>
                                    <span class="id-logo"></span>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>