<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/myPage/myPage.css" />
    <link rel="stylesheet" href="/css/common/font.css" />
</head>
<body>
    <div class="main">
        <div class="wrap">
            <div class="container">
                <div class="contentsWrap">
                    <!--메뉴시작-->
                    <div class="menuContainer">
                        <aside class="asideMenu">
                            <div class="profile">
                                <div class="nickname">주어머거라ddddddd</div>
                                <div class="email">
                                    <span class="id">dyddyd310@naver.com</span>
                                    <span class="id-logo"></span>
                                </div>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        내 프로그램
                                    </div>
                                </a>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        내 아르바이트
                                    </div>
                                </a>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        커뮤니티 활동
                                    </div>
                                </a>
                                <hr class="menu-category">
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        개인 정보 설정
                                    </div>
                                </a>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        구매 내역
                                    </div>
                                </a>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        문의 내역
                                    </div>
                                </a>
                            </div>
                            <div class="menu">
                                <a href="">
                                    <div class="menu-a">
                                        멘토/멘티 리스트
                                    </div>
                                </a>
                            </div>
                        </aside>
                    </div>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>