<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지원정책</title>
    <link rel="stylesheet" href="/css/information/policy.css">
    <link rel="stylesheet" href="/css/inquire/inquire.css">
    <link rel="stylesheet" href="/css/header/header.css"/>

</head>
<body>
<div id="app">
<!--헤더-->
<div th:replace="/header/header.html :: header" class="header"/>

<div class="c-application c-grid main-grid-component fluid" style="min-height: 100vh;">
    <div class="c-application c-row">
        <div class="c-application c-new-col" id="faq" sid="guest" style="min-height: 507px">
            <div class="faq faq-container" style="background: #eaecee;">
                <div class="faq faq-banner">
                    <img src="https://comento.kr/images/banner/banner_faq.jpg" alt="" class="only-pc faq-banner-img">
                    <div class="faq faq-search">
                        <h2 class="h2 faq-search-title">무엇을 도와드릴까요?</h2>
                        <div class="faq-search-box">
                            <input type="text" placeholder="검색어를 입력하세요" class="faq-search-box-input">
                            <button class="faq-search-box-button" style="width: 45px; height: 60px; left: 525px; margin-top: 68px;">
                                <svg  width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon mt-6" data-v-7b920159="" style="fill: rgb(27, 81, 146);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M11 16C14.3137 16 17 13.3137 17 10C17 6.68629 14.3137 4 11 4C7.68629 4 5 6.68629 5 10C5 13.3137 7.68629 16 11 16ZM11 18C15.4183 18 19 14.4183 19 10C19 5.58172 15.4183 2 11 2C6.58172 2 3 5.58172 3 10C3 14.4183 6.58172 18 11 18Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M15.2929 15.2929C15.6834 14.9024 16.3166 14.9024 16.7071 15.2929L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L15.2929 16.7071C14.9024 16.3166 14.9024 15.6834 15.2929 15.2929Z"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>


                        <div class="c-application c-new-grid container" style="background: inherit;"></div>
                            <div class="c-application c-new-row">
                                <div class="c-application c-new-col">
                                    <div class="c-application c-new-col">
                                        <div class="faq faq-board">
                                            <ul class="clearfix">
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active active active" style="display:""; white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                        <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                        직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                                <li class="faq-board-list">
                                                    <p class="faq-board-list-cont faq-board-list-question">
                                                    <span class="text-primary">[직무부트캠프(현직자수업)]</span>
                                                    직무부트캠프 환불은 어떻게 신청하나요?
                                                    </p>
                                                    <p class="faq-board-list-cont faq-board-list-answer active" style="white-space: pre-line;">환불은 고객센터를 통해 문의주시면 확인 후 처리해드리고 있습니다.
                                                        기본적으로 카드취소로 진행이 되며, 카드취소가 어려운 경우에는 계좌이체로 진행되고 있습니다.
                                                        정부지원금카드로 결제하시고, 카드취소로 환불이 어려우신 경우에는 따로 말씀 부탁드리겠습니다.
                                                        그리고 캠프 변경을 위한 취소인 경우에는 변경을 원하시는 캠프명과 시작일을 알려주시면 변경 도와드리도록 하겠습니다.
                                                    </p>
                                                </li>
                                            </ul>
                                            <div class="flex justify-center w-full paging">
                                                <div class="VuePagination">
                                                    <ul></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
    let count = 0;
    $('p.faq-board-list-question').on('click', function () {
        // count++;
        if(count==0){
            $(this).next().show();
            count++;
        }else if(count==1){
            $(this).next().hide();
            count = 0;
        }
    })

</script>
<script src="/js/header/header.js"></script>
</html>