<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mentor/mentorDetail.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <title>멘토 상세 페이지</title>
</head>
<body>
<!--헤더 삽입-->
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main_grid">
    <div id="main_grid_inner1">
        <div id="main_grid_inner2">
            <section id="main_banner">
                <div id="main_banner_inner1">
                    <div id="main_banner_inner2">
                        <div id="main_banner_text">
                            <div id="main_banner_text_inner1">
                                <span id="main_banner_text_outline">VOD</span>
                                <div id="main_banner_text_title">멘토가 알려주는 감자 농사 비법</div>
                                <div id="main_banner_text_subTitle">현직 멘토가 농사하는 방법</div>
                            </div>
                        </div>
                        <div id="main_banner_empty"></div>
                        <div id="main_banner_image">
                            <div id="main_banner_image_inner1">
                                <div id="main_banner_image_inner2">
                                    <img src="https://cdn.comento.kr/images/edu/matching/saramin-banner-hero.png?s=1272x716"
                                         alt="" style="width: 542px; height: 305px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main_banner_inner3">
                    <div id="main_banner_inner4">
                        <div id="main_banner_flex_1"></div>
                        <div id="main_banner_flex_2">
                            <section id="main_fixed">
                                <aside>
                                    <div>
                                        <article id="main_fixed_inner1">
                                            <div id="main_fixed_inner2">
                                                <div id="main_fixed_category">감자</div>
                                                <div id="main_fixed_title">멘토가 알려주는 감자 농사 비법</div>
                                                <div>
                                                    <div>
                                                        <div id="main_fixed_info_1">
                                                            <img src="	https://cdn.comento.kr/images/emojis/emoji-seedling.svg"
                                                                 alt=""
                                                                 style="    margin-right: 6px!important;border-style: none;max-width: 100%;">
                                                            <div id="main_fixed_info_subTitle">
                                                                <strong>입문자</strong> 대상 <strong>멘토</strong> 입니다.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <dl>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">수강 기간</dt>
                                                            <dd class="main_fixed_dl_dd">평생 수강</dd>
                                                        </div>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">강의 과정</dt>
                                                            <dd class="main_fixed_dl_dd">VOD</dd>
                                                        </div>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">분량</dt>
                                                            <dd class="main_fixed_dl_dd">총 25강</dd>
                                                        </div>
                                                        <div class="main_fixed_dl" style="margin-bottom: 0!important;">
                                                            <dt class="main_fixed_dl_dt">제공 자료</dt>
                                                            <dd>
                                                                <div>
                                                                    <span id="fixed_dd_1">데모 데이터</span>
                                                                    <span id="fixed_dd_2">PDF 강의안</span>
                                                                </div>
                                                            </dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                                <button id="main_fixed_button">
                                                    <div style="display: flex!important;"></div>
                                                    전액 무료 수강하기
                                                    <div style="display: flex!important;"></div>
                                                </button>
                                            </div>
                                        </article>
                                        <!--                                        <div id="main_fixed_banner">-->
                                        <!--                                            <picture class="main_fixed_banner_img" style="display: inline-block; &#45;&#45;optimized-image-width:100%; &#45;&#45;optimized-image-aspect-ratio:353 / 82; &#45;&#45;optimized-image-fallback-ratio:23.2295%;">-->
                                        <!--                                                <source srcset="https://cdn.comento.kr/images/vod/lecture/kdc-sidebox-banner.jpg?s=706x164&amp;q=75" type="image/webp">-->
                                        <!--                                                <img src="https://cdn.comento.kr/images/vod/lecture/kdc-sidebox-banner.jpg"></picture>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <aside></aside>
                                </aside>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <!--배너 끝-->

            <!-- 메인 내용 시작-->
            <div id="main_intro">
                <div id="main_intro_inner1">
                    <div id="main_intro_inner2">
                        <div class="main_intro_flex_percent">
                            <section style="padding-bottom: 40px;">
                                <img src="https://cdn.comento.kr/images/class/pt/detail/icon/doublequote-icon.png"
                                     class="vod-lecture-detail-quote-image" style="width: 18px;height: 13px;">
                                <div id="main_intro_inner4">
                                    체계적인 농작물 관리를 할 수 있도록
                                    <br>
                                    제대로 알려드릴게요.
                                </div>
                                <p id="main_intro_inner5">
                                <p>안녕하세요,</p>
                                <p>저는 국내 프리랜서 마켓 No.1 '크몽'에서 CRM 마케팅 업무를 진행하고 있습니다.</p>
                                <p><br></p>
                                <p>퍼포먼스 마케터로 커리어를 시작하여 다양한 DA, SA 채널을 운영했으며, 이러한 시야를 바탕으로 우리 고객 데이터와 Braze(브레이즈) 를 활용한
                                    리텐션, LTV 를 올리는 CRM 마케터로 커리어를 이어가고 있습니다.</p>
                                <p><br></p>
                                <p>다양한 미디어를 통해 이미 아시는 것처럼 근래 CRM 마케팅이 대세라는 이야기를 들어보셨을 겁니다.</p>
                                <p>특히 구글, 페이스북, 애플 등 글로벌 기업에서 개인 정보 이슈 등으로 3rd-party data 를 활용하는 퍼포먼스 마케팅 제한이 점점 심해지면서
                                    우리 고객 데이터인 first-party data 를 활용하는 CRM 마케팅 대세로 떠오르고 있습니다.</p>
                                <p><br></p>
                                <p>CRM 마케팅 실무를 하시면서 RFM 분석, Braze(브레이즈) 활용한 고객 행동별 개인화 된 메세지 등에 관심은 있으시지만, 막상 혼자서 해보려고
                                    하다 보면 막히는 부분들이 많아서 어려우셨을 것 같습니다. 체계적으로 CRM 마케팅을 하셨다기 보다는 혼자서 고군분투 했을 모습이 상상이
                                    됩니다.</p>
                                <p>그만큼 CRM 마케팅 관련 정보가 많이 없기 때문이기도 하지요.</p>
                                <p><br></p>
                                <p>이번 기회를 통해서 고객 행동 기반으로 CRM 마케팅 설계 + RFM 분석, 코호트 분석(Cohort)을 통한 우리 핵심 고객 발굴 +
                                    Braze(브레이즈) 활용한 고객 행동별 개인화 된 CRM 마케팅 설정까지 직접 해보시겠어요?</p>
                                <p><br></p>
                                <p>여러분들과 만날 날을 기대하겠습니다!</p>
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
                <div id="main_intro_inner6">
                    <div class="main_intro_inner7">
                        <div id="main_intro_inner8">
                            <div class="main_intro_inner7">
                                <div class="main_intro_flex_percent">
                                    <dl id="main_intro_inner9">
                                        <dt style="margin-right: 32px;">
                                            <div id="main_intro_inner10">
                                                <img data-v-884eb42c=""
                                                     src="https://cdn.comento.kr/images/pt/tmp/prefix_laH12sIOyU.png"
                                                     alt="" id="main_intro_image1">
                                                <p id="main_intro_text1">마케팅 5~7년차</p>
                                                <p id="main_intro_text2"><strong id="main_intro_strong">호식</strong>멘토님
                                                </p>
                                            </div>
                                        </dt>
                                        <dd style="width: calc(100% - 152px);margin-top: 0;">
                                            <div id="main_intro_dd_inner1">
                                                <p id="main_intro_dd_inner2">
                                                <p><strong class="dd_strong">현) 국내 프리랜서 마켓 '크몽' 퍼포먼스/그로스팀 CRM
                                                    마케터</strong></p>
                                                <p><br></p>
                                                <p><strong class="dd_strong">전) CRM 마케팅 솔루션 개발/운영 B사 퍼포먼스 마케터</strong>
                                                </p>
                                                <p><strong class="dd_strong">전) 성인 실무 교육 F사 퍼포먼스 마케터</strong></p>
                                                <p><strong class="dd_strong">전) 상하이 소재 E사 디지털 마케터</strong></p>
                                                </p>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="main_point">
                    <div id="main_point_inner1">
                        <div id="main_point_inner2">
                            <div class="main_intro_flex_percent">
                                <h5>CRM<br>할 수 있게 만드는 3가지 학습 포인트</h5>
                                <div id="main_point_inner3">
                                    <div class="main_point_images">
                                        <img src="https://cdn.comento.kr/images/class/pt/detail/icon/pt-detail-differentiation-live.png" alt="" class="main_point_img">
                                        <div style="text-align: center">
                                            <div class="main_point_text1">생존형 기초 지식</div>
                                            <div class="main_point_text2">
                                                당장 꼭 알아야하는 지식만
                                                <br>
                                                실제 사례로 배워요.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main_point_images">
                                        <img src="https://cdn.comento.kr/images/class/pt/detail/icon/pt-detail-differentiation-curriculum.png" alt="" class="main_point_img">
                                        <div style="text-align: center">
                                            <div class="main_point_text1">복습용 실무 과제</div>
                                            <div class="main_point_text2">
                                                배운 내용을 바로 적용하는
                                                <br>
                                                실무 과제를 풀어봐요.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main_point_images">
                                        <img src="https://cdn.comento.kr/images/class/pt/detail/icon/pt-detail-differentiation-qna.png" alt="" class="main_point_img">
                                        <div style="text-align: center">
                                            <div class="main_point_text1">커뮤니티 게시판</div>
                                            <div class="main_point_text2">
                                                수강하다 막막할 때면 언제든
                                                <br>
                                                질문하고 답변 받으세요.
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!--푸터 삽입-->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
</html>