<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/mentor/mentorDetail.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <title>멘토 상세 페이지</title>
</head>
<body>
<!--헤더 삽입-->
<div th:replace="/header/header.html :: header" class="header"/>
<div id="main_grid">
    <div id="main_grid_inner1">
        <div id="main_grid_inner2">
            <section id="main_banner">
                <div id="main_banner_inner1">
                    <div id="main_banner_inner2">
                        <div id="main_banner_text">
                            <div id="main_banner_text_inner1">
                                <span id="main_banner_text_outline">VOD</span>
                                <div id="main_banner_text_title">멘토가 알려주는 감자 농사 비법</div>
                                <div id="main_banner_text_subTitle">현직 멘토가 농사하는 방법</div>
                            </div>
                        </div>
                        <div id="main_banner_empty"></div>
                        <div id="main_banner_image">
                            <div id="main_banner_image_inner1">
                                <div id="main_banner_image_inner2">
                                    <img src="https://cdn.comento.kr/images/edu/matching/saramin-banner-hero.png?s=1272x716"
                                         alt="" style="width: 542px; height: 305px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main_banner_inner3">
                    <div id="main_banner_inner4">
                        <div id="main_banner_flex_1"></div>
                        <div id="main_banner_flex_2">
                            <section id="main_fixed">
                                <aside>
                                    <div>
                                        <article id="main_fixed_inner1">
                                            <div id="main_fixed_inner2">
                                                <div id="main_fixed_category">감자</div>
                                                <div id="main_fixed_title">멘토가 알려주는 감자 농사 비법</div>
                                                <div>
                                                    <div>
                                                        <div id="main_fixed_info_1">
                                                            <img src="	https://cdn.comento.kr/images/emojis/emoji-seedling.svg"
                                                                 alt=""
                                                                 style="    margin-right: 6px!important;border-style: none;max-width: 100%;">
                                                            <div id="main_fixed_info_subTitle">
                                                                <strong>입문자</strong> 대상 <strong>멘토</strong> 입니다.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <dl>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">수강 기간</dt>
                                                            <dd class="main_fixed_dl_dd">평생 수강</dd>
                                                        </div>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">강의 과정</dt>
                                                            <dd class="main_fixed_dl_dd">VOD</dd>
                                                        </div>
                                                        <div class="main_fixed_dl">
                                                            <dt class="main_fixed_dl_dt">분량</dt>
                                                            <dd class="main_fixed_dl_dd">총 25강</dd>
                                                        </div>
                                                        <div class="main_fixed_dl" style="margin-bottom: 0!important;">
                                                            <dt class="main_fixed_dl_dt">제공 자료</dt>
                                                            <dd>
                                                                <div>
                                                                    <span id="fixed_dd_1">데모 데이터</span>
                                                                    <span id="fixed_dd_2">PDF 강의안</span>
                                                                </div>
                                                            </dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                                <button id="main_fixed_button">
                                                    <div style="display: flex!important;"></div>
                                                    전액 무료 수강하기
                                                    <div style="display: flex!important;"></div>
                                                </button>
                                            </div>
                                        </article>
<!--                                        <div id="main_fixed_banner">-->
<!--                                            <picture class="main_fixed_banner_img" style="display: inline-block; &#45;&#45;optimized-image-width:100%; &#45;&#45;optimized-image-aspect-ratio:353 / 82; &#45;&#45;optimized-image-fallback-ratio:23.2295%;">-->
<!--                                                <source srcset="https://cdn.comento.kr/images/vod/lecture/kdc-sidebox-banner.jpg?s=706x164&amp;q=75" type="image/webp">-->
<!--                                                <img src="https://cdn.comento.kr/images/vod/lecture/kdc-sidebox-banner.jpg"></picture>-->
<!--                                        </div>-->
                                    </div>
                                    <aside></aside>
                                </aside>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!--푸터 삽입-->
<div th:replace="/footer/footer.html :: footer" class="footer"/>
</body>
</html>