@charset "UTF-8";

body {
    margin: 0;
    vertical-align: baseline;
    font-family: "Pretendard";
}

a {
    text-decoration: none;
}

div.main {
    min-height: calc(100vh - 324px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

div.wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

div.container {
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

div.contentsWrap {
    display: flex;
    flex-wrap: wrap;
}

div.menuContainer {
    flex: 0 0 25%;
    max-width: 25%;
}

aside.asideMenu {
    position: relative;
    padding: 12px;
    width: 259px;
}

div.profile {
    overflow: hidden;
    cursor: pointer !important;
    margin-bottom: 32px !important;
}

div.nickname {
    color: rgb(32, 35, 37);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

div.email {
    align-items: center;
    cursor: pointer !important;
    display: flex;
    font-size: 12px;
    font-weight: 400;
}

.id {
    color: rgb(118, 125, 130);
    line-height: 16px !important;
}

.id-logo {
    display: flex !important;
    min-width: 14px;
    height: 14px;
    margin-left: 6px !important;
    background: #2b0b09;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

div.menu a {
    width: 100%;
}

div.menu-a:hover {
    background: #f3f4f5;
}

div.menu-a {
    padding: 12px 4px;
    border-radius: 8px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    color: rgb(32, 35, 37);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400 !important;
    letter-spacing: .02em;
    word-break: keep-all;
    word-wrap: break-word;
}

hr.menu-category {
    border-color: #EAECEE;
    border-style: solid;
    border-top: 1px;
    margin-top: 12px !important;
    margin-bottom: 12px !important;

}


@media only screen and (min-width: 768px) {
    .my-page-container[data-v-0b8e85f7] {
        margin-top: 72px;
        margin-bottom: 160px;
    }
}

@media only screen and (min-width: 768px) {
    .new-col-lg-12[data-v-7b920159] {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .c-new-col[data-v-7b920159] {
        padding-right: 12px;
        padding-left: 12px;
    }
}