@charset "UTF-8";

div.n-c-wrap {
    padding: 16px 20px;
    min-height: 250px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;

    color: rgb(118, 125, 130);
    text-align: center;
    font-size: 16px;
    letter-spacing: .02em;
}

div#pay-wrap {
    min-width: 515px;
    margin-top: 55px;
    padding: 10px;
    border: 1px solid red;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}