<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mentor/mentorWrite.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png" />
    <link rel="shortcut icon" href="/image/header/favicon.png" />
    <title>멘토 홍보 글 작성</title>
</head>
<body>
<div id="main_grid">
    <div id="main_grid_inner1">
        <div id="main_grid_inner2">
            <span>
                <div>
                    <!--멘토 소개 페이지 헤더-->
                    <div id="write_header">
                        <div id="write_header_inner1">
                            <div id="write_header_inner2">
                                <div>
                                    <div id="write_header_inner3">
                                        <div id="header_left">
                                            <div id="header_left_text">멘토 글 등록</div>
                                            <hr id="header_left_hr">
                                            <div id="header_left_image">
                                                <img src="https://cdn.comento.kr/images/emojis/emoji-rocket.svg" alt=""
                                                     id="left_image">
                                                <div id="header_left_text_inner1">힘차게 시작해봐요!</div>
                                                <div id="header_left_percent">0%</div>
                                            </div>
                                        </div>
                                        <div id="header_right">
                                            <button id="header_right_button1">
                                                <div class="right_button1_inner1"></div>
                                                저장하기
                                                <div class="right_button1_inner1"></div>
                                            </button>
                                            <button id="header_right_button2">
                                                <div class="right_button1_inner1"></div>
                                                나가기
                                                <div class="right_button1_inner1"></div>
                                            </button>
                                         </div>
                                    </div>
                                </div>
                                <div id="write_header_line">
                                    <div id="write_header_line1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--여기까지 멘토 소개페이지 헤더-->
                </div>

                <!--멘토 소개페이지 내용(클릭 시 hidden 바뀜) 시작-->
                <div id="write_main">
                    <span>
                        <div id="write_main_first">
                            <div id="write_main_first_inner1">
                                <section style="margin-bottom: 40px!important;">
                                    <div id="first_section1">
                                        <div>
                                            <div id="first_section1_inner1">
                                                멘토님,<span class="blue_text">환영합니다!</span><br>
                                                개설을 위해 <span class="blue_text">프로필</span>을 채워주세요.
                                            </div>
                                            <div id="first_section1_inner2"> 전문적인 강사 경험이 없어도 실무 과정을 만들 수 있도록 도와드릴게요.</div>
                                        </div>
                                        <div style="align-self: flex-end; display: flex!important;align-items: center;"></div>
                                    </div>
                                </section>
                                <section class="mg_32">
                                    <div style="margin-bottom: 12px!important;">
                                        <div class="section2_title">직무</div>
                                        <div class="section2_title_margin"></div>
                                    </div>
                                    <span>
                                        <input type="text" style="display: none">
                                        <div id="first_section2_inner3">
                                            <div id="first_section2_inner4">
                                                <div>
                                                    <div id="first_section2_inner5">
                                                        <div id="first_section2_inner6">
                                                            <div id="first_section2_inner7">
                                                                <svg width="24" height="24" viewBox="0 0 24 24"
                                                                     fill="black"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     id="first_section2_inner8"><path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M11 16C14.3137 16 17 13.3137 17 10C17 6.68629 14.3137 4 11 4C7.68629 4 5 6.68629 5 10C5 13.3137 7.68629 16 11 16ZM11 18C15.4183 18 19 14.4183 19 10C19 5.58172 15.4183 2 11 2C6.58172 2 3 5.58172 3 10C3 14.4183 6.58172 18 11 18Z"></path><path
                                                                        fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M15.2929 15.2929C15.6834 14.9024 16.3166 14.9024 16.7071 15.2929L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L15.2929 16.7071C14.9024 16.3166 14.9024 15.6834 15.2929 15.2929Z"></path></svg>
                                                                <input type="text" id="first_section2_inner9"
                                                                       placeholder="직무를 입력하세요." style="font-size: 100%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </section>
                                <section class="mg_32">
                                    <div class="mb_12">
                                        <div class="section2_title">연차</div>
                                        <div class="section2_title_margin"></div>
                                    </div>
                                    <div>
                                        <input type="text" id="first_section3_inner1">
                                        <div id="first_section3_inner2">
                                            <span class="section3_span">1~3년차</span>
                                            <span class="section3_span">3~5년차</span>
                                            <span class="section3_span">5~7년차</span>
                                            <span class="section3_span">7~10년차</span>
                                            <span class="section3_span">10년차 이상</span>
                                        </div>
                                    </div>
                                </section>
                                <section class="mg_32">
                                    <div class="mb_12">
                                        <div id="section4_text1">닉네임</div>
                                        <div id="section4_text2">닉네임은 멘토 소개 페이지에 공개돼요.</div>
                                    </div>
                                    <div id="section4_margin"></div>
                                    <div id="section4_inner1">
                                        <div>
                                            <input type="text" style="display: none">
                                            <div id="section4_inner2">
                                                <div id="section4_inner3">
                                                    <div style="position: relative">
                                                        <input type="text" id="section4_inner4"
                                                               placeholder="닉네임을 입력하세요.">
                                                    </div>
                                                </div>
                                                <div id="section4_inner5">
                                                    <div style="margin-right: 0px!important;">
                                                        <div id="section4_inner6">0</div>
                                                    </div>
                                                    <div>
                                                        <div id="section4_inner7">/10</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="section4_inner1_button">
                                            <div style="display: flex!important;"></div>
                                                중복 확인
                                            <div style="display: flex!important;"></div>
                                        </button>
                                    </div>
                                </section>
                                <!--섬머노트 할 수도?-->
                                <section class="mg_32">

                                </section>
                            </div>
                        </div>
                    </span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!--멘토 소개 페이지 내용 끝-->

                <!--멘토 왼쪽 사이드 바 시작-->
                <div id="asdie_left">
                    <div id="aside_left_inner1">
                        <div class="aside_left_list">
                            <div class="list_main">프로필 등록</div>
                        </div>
                        <div class="aside_left_list">
                            <div class="list_sub">클래스 대상</div>
                        </div>
                        <div class="aside_left_list">
                            <div class="list_sub">클래스 목표</div>
                        </div>
                        <div class="aside_left_list">
                            <div class="list_sub">상세 커리큘럼</div>
                        </div>
                        <div class="aside_left_list" style="margin-bottom: 0px">
                            <div class="list_sub">클래스 소개 및 FAQ</div>
                        </div>
                    </div>
                </div>
                <!--멘토 왼쪽 사이드 바 끝-->

                <!--멘토 오른쪽 사이드 바 시작-->
                <div id="aside_right">
                    <div>
                        <div>
                            <div id="aside_right_inner1">
                                <div class="mb_12">
                                    <div id="aside_right_inner2">
                                        <div id="aside_right_inner3">
                                            <div class="asdie_right_title" style="color: rgb(27, 81, 146);font-weight: 500;">예시</div>
                                            <hr id="aside_right_inner4">
                                            <div class="asdie_right_title" style="color: rgb(4, 5, 5);font-weight: 600;">멘티 대상</div>
                                        </div>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"
                                             class="class-opening-guide-arrow-icon c-application c-icon class-opening-guide-arrow-icon-active"style="fill: rgb(89, 95, 99);">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <span id="aside_right_span1">마케팅</span>
                                        <span id="aside_right_span2">프로그래밍</span>
                                    </div>
                                    <img src="https://cdn.comento.kr/images/class/pt/open/class-opening-guide-class-target-example-marketing-1.png" alt="" style="margin-top: 12px!important; border-style: none; max-width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--멘토 오른쪽 사이드 바 끝-->

                <!--멘토 소개 페이지 푸터 시작-->
                <div id="write_footer">
                    <div id="write_footer_inner1">
                        <div id="write_footer_inner2">
                            <div id="write_footer_inner3">
                                <button id="footer_button1">
                                    <div style="margin-right: 2px!important;"></div>이전<div></div>
                                </button>
                                <button id="footer_button2">
                                    <div style="margin-right: 2px!important;"></div>다음<div></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
</body>
</html>