<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mento/write.css">
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="icon" href="/image/header/favicon.png"/>
    <link rel="shortcut icon" href="/image/header/favicon.png"/>
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <title>멘토 홍보 글 작성</title>
</head>
<body>
<div id="main_grid">
    <div id="main_grid_inner1">
        <div id="main_grid_inner2">
            <span>
                <div>
                    <!--멘토 소개 페이지 헤더-->
                    <div id="write_header">
                        <div id="write_header_inner1">
                            <div id="write_header_inner2">
                                <div>
                                    <div id="write_header_inner3">
                                        <div id="header_left">
                                            <div id="header_left_text">멘토 글 등록</div>
                                            <!--<hr id="header_left_hr">
                                            <div id="header_left_image">
                                                <img src="https://cdn.comento.kr/images/emojis/emoji-rocket.svg" alt=""
                                                     id="left_image">
                                                <div id="header_left_text_inner1">힘차게 시작해봐요!</div>
                                                <div id="header_left_percent">0%</div>
                                            </div>-->
                                        </div>
                                        <div id="header_right">
                                            <button id="header_right_button2">
                                                <div class="right_button1_inner1"></div>
                                                나가기
                                                <div class="right_button1_inner1"></div>
                                            </button>
                                         </div>
                                    </div>
                                </div>
                                <div id="write_header_line">
                                    <div id="write_header_line1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--여기까지 멘토 소개페이지 헤더-->
                </div>

                <!--멘토 소개 페이지(클릭 시 show,hide 바뀜) 시작-->
                <div id="write_main">
                    <span id="first_page">
                        <!--1page 시작-->
                        <div class="write_main_first">
                            <div class="write_main_first_inner1">
                                <section style="margin-bottom: 40px!important;">
                                    <div class="first_section1">
                                        <div>
                                            <div class="first_section1_inner1">
                                                멘토님,<span class="green_text">환영합니다!</span><br>
                                                개설을 위해 <span class="green_text">프로필</span>을 채워주세요.
                                            </div>
                                            <div class="first_section1_inner2"> 전문적인 멘토 경험이 없어도 실무 과정을 만들 수 있도록 도와드릴게요.</div>
                                        </div>
                                        <div style="align-self: flex-end; display: flex!important;align-items: center;"></div>
                                    </div>
                                </section>
                                <section class="mg_32">
                                    <div class="first_section4_title">
                                        <div>
                                            <div class="first_section4_main_title">경력 소개</div>
                                            <div class="first_section4_sub_title">현재 어떤 일을 하고 있는지 알려주세요</div>
                                        </div>
                                        <span class="first_section4_example">예시보기</span>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="현재 경력을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first_section4_title">
                                        <div>
                                            <div class="first_section4_main_title">과거 경력 소개</div>
                                            <div class="first_section4_sub_title">과거 어떤 일을 했는지 알려주세요</div>
                                        </div>
                                        <span class="first_section4_example">예시보기</span>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                   <textarea name="" id="carrer_textarea" cols="30" rows="5" placeholder="과거 경력을 입력해주세요"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="mg_32">
                                    <div class="first_section4_title">
                                        <div>
                                            <div class="first_section4_main_title">멘토 추천 이유</div>
                                            <div class="first_section4_sub_title">멘토님의 장점을 알려주세요</div>
                                        </div>
                                        <span class="first_section4_example">예시보기</span>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="첫 번째 제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="첫 번째 추천 이유를 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="두 번째 제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="두 번째 추천 이유를 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="세 번째 제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="세 번째 추천 이유를 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </span>
                    <!--1page 끝-->
                    <!--2page 시작-->
                    <span id="second_page">
                        <div class="write_main_first">
                            <div class="write_main_first_inner1">
                                <section style="margin-bottom: 40px!important;">
                                    <div class="first_section1">
                                        <div>
                                            <div class="first_section1_inner1">
                                                멘토 <span class="green_text">소개</span>를 위해<br>
                                                <span class="green_text">제목</span>과 <span class="green_text">내용</span>을 작성해주세요.
                                            </div>
                                            <div class="first_section1_inner2"> 전문적인 멘토 경험이 없어도 실무 과정을 만들 수 있도록 도와드릴게요.</div>
                                        </div>
                                        <div style="align-self: flex-end; display: flex!important;align-items: center;"></div>
                                    </div>
                                </section>
                                <section class="mg_32">
                                    <div class="first_section4_title">
                                        <div>
                                            <div class="first_section4_main_title">멘토 홍보글 제목 작성</div>
                                            <div class="first_section4_sub_title">나를 나타낼 수 있는 문구로 작성해주세요</div>
                                        </div>
                                        <span class="first_section4_example">예시보기</span>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="멘토 홍보글 제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="멘토 홍보글 소제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="mg_32">
                                    <div class="first_section4_title">
                                        <div>
                                            <div class="first_section4_main_title">멘토 홍보글 내용 작성</div>
                                            <div class="first_section4_sub_title">멘토 홍보글 내용을 작성해주세요.</div>
                                        </div>
                                        <span class="first_section4_example">예시보기</span>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="first_section4_write">
                                                <div style="position: relative">
                                                    <input type="text" class="fisrt_section4_write_input"
                                                           placeholder="멘토 홍보글 내용 제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="post">
                                        <textarea id="summernote" name="editordata"></textarea>
                                        <p id="letter-length" style="display: inline;"></p>/100
                                    </form>
                                </section>

                                <!--이미지 첨부-->
                                <section style="margin-top: 32px;">
                                    <div class="mb_12">
                                        <div class="section-body">이미지 <span style="color: #ADB3B8">(선택)</span> </div>
                                        <div class="body-caption">프로그램 상세 페이지에서 노출될 수 있는 이미지가 있다면 첨부해주세요.</div>
                                    </div>
                                    <div style="margin-bottom: 32px;">
                                        <div class="align-items-center">
                                            <label style="cursor: pointer">
                                                <img style="width: 20px; height: 20px; border: 1px solid #e1e4e6" id="preview-image" src="/image/program/upload.gif">
                                                <input type="file" class="input-div-input" id="attach" style="display: none;">
                                            </label>

                                            <!-- <label for="attach">
                                                 <img class="upload" src="/image/program/upload.gif">
                                             </label>
                                             <input type="file" id="attach" style="display: none;">-->
                                        </div>
                                        <div class="c-callout-information">
                                            <div class="c-callout-wrapper">
                                                <div class="align-center">
                                                <img class="upload" src="/image/program/mark.gif">
                                                <div class="c-callout-message">업로드되지 않는 경우, 압축하여 등록해주세요.
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </span>
                    <!--2page 끝-->
                    <!--3page 시작-->
                    <span></span>
                    <!--3page 끝-->
                </div>
                <!--멘토 소개 페이지 내용 끝-->

                <!--멘토 왼쪽 사이드 바 시작-->
                <div id="asdie_left">
                    <div id="aside_left_inner1">
                        <div class="aside_left_list" onclick="listMainClick()">
                            <div class="list_main">프로필 등록</div>
                        </div>
                        <div class="aside_left_list" onclick="listSubClick()">
                            <div class="list_sub">멘토 홍보글 작성</div>
                        </div>
                    </div>
                </div>
                <!--멘토 왼쪽 사이드 바 끝-->

                <!--멘토 오른쪽 사이드 바 시작-->
                <div id="aside_right">
                    <div>
                        <div>
                            <div id="aside_right_inner1">
                                <div class="mb_12">
                                    <div id="aside_right_inner2">
                                        <div id="aside_right_inner3">
                                            <div class="asdie_right_title"
                                                 style="color: rgb(27, 81, 146);font-weight: 500;">예시</div>
                                            <hr id="aside_right_inner4">
                                            <div class="asdie_right_title"
                                                 style="color: rgb(4, 5, 5);font-weight: 600;">멘티 대상</div>
                                        </div>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="black"
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="class-opening-guide-arrow-icon c-application c-icon class-opening-guide-arrow-icon-active"
                                             style="fill: rgb(89, 95, 99);">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M7.64645 4.64645C7.84171 4.45118 8.15829 4.45118 8.35355 4.64645L12.8536 9.14645C13.0488 9.34171 13.0488 9.65829 12.8536 9.85355C12.6583 10.0488 12.3417 10.0488 12.1464 9.85355L8 5.70711L3.85355 9.85355C3.65829 10.0488 3.34171 10.0488 3.14645 9.85355C2.95118 9.65829 2.95118 9.34171 3.14645 9.14645L7.64645 4.64645Z"></path></svg>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <span id="aside_right_span1">마케팅</span>
                                        <span id="aside_right_span2">프로그래밍</span>
                                    </div>
                                    <img src="https://cdn.comento.kr/images/class/pt/open/class-opening-guide-class-target-example-marketing-1.png"
                                         alt=""
                                         style="margin-top: 12px!important; border-style: none; max-width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--멘토 오른쪽 사이드 바 끝-->

                <!--멘토 소개 페이지 푸터 시작-->
                <div id="write_footer">
                    <div id="write_footer_inner1">
                        <div id="write_footer_inner2">
                            <div id="write_footer_inner3">
                                <button id="footer_button_prev" onclick="prevButton()">
                                    <div style="display: flex;" disabled="disabled">
                                        <img class="footer_prev_image" src="/image/program/prev_register.gif"
                                             disabled="disabled">
                                    </div>
                                    이전
                                    <div style="display: flex;" disabled="disabled"></div>
                                </button>
                                    <button id="footer_button_next" onclick="nextButton()">다음<img
                                            src="/image/program/next_register.gif" class="footer_next_image"></button>
                                    <button class="submitBtn" style="display: none">제출<img
                                            src="/image/program/next_register.gif" class="footer_next_image"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
</body>
</html>

<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="/js/mento/write.js"></script>
