<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의하기</title>
    <link rel="stylesheet" href="/css/inquire/inquire.css">
</head>
<body>
<div class="c-application c-grid main-grid-component fluid" style="min-height: 100vh;">
    <div class="c-application c-row">
        <div class="c-application c-new-col" id="faq" sid="guest" style="min-height: 507px">
            <div class="faq faq-container" style="background: #eaecee;">
                <div class="faq faq-banner">
                    <img src="https://comento.kr/images/banner/banner_faq.jpg" alt="" class="only-pc faq-banner-img">
                    <div class="faq faq-search">
                        <h1 class="h1 faq-search-title" style="font-size: 70px">문의 하기</h1>
                        <div class="faq-search-box">
<!--                            <input type="text" placeholder="검색어를 입력하세요" class="faq-search-box-input">-->
<!--                                <button class="faq-search-box-button" style="width: 45px; height: 60px; left: 525px; margin-top: 68px;">-->
<!--                                    <svg  width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon mt-6" data-v-7b920159="" style="fill: rgb(27, 81, 146);"><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M11 16C14.3137 16 17 13.3137 17 10C17 6.68629 14.3137 4 11 4C7.68629 4 5 6.68629 5 10C5 13.3137 7.68629 16 11 16ZM11 18C15.4183 18 19 14.4183 19 10C19 5.58172 15.4183 2 11 2C6.58172 2 3 5.58172 3 10C3 14.4183 6.58172 18 11 18Z"></path><path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd" d="M15.2929 15.2929C15.6834 14.9024 16.3166 14.9024 16.7071 15.2929L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L15.2929 16.7071C14.9024 16.3166 14.9024 15.6834 15.2929 15.2929Z"></path></svg>-->
<!--                                </button>-->
                        </div>
                    </div>
                </div>

                <div class="c-application c-new-col" style="margin: 0 auto; width: 1124px; height: 684px; padding-right: 12px; padding-left: 12px">
                    <div id="help-wrap-col" style=" width: 1108px; height: 588px">
                        <div class="help help-wrap" style="background: #fff;">
                            <section class="help help-section" style="height: 588px; margin-top: 60px;">
                                    <div class="help help-form">
                                        <div class="clearfix">
                                            <h2 class="h2 help-form-title">1:1 문의하기</h2>
                                            <p class="h7 text-caption m-0">
                                                문제가 해결되지 않으셨다면 1:1 로 문의하세요.
                                                <br>
                                                문의 주신 내용은 48시간 내로 최대한 빠르게 답변드리도록 하겠습니다. 마이페이지를 확인해주세요.
                                            </p>
                                        </div>
                                        <section class="clearfix">
                                            <input type="text" placeholder="제목" class="inputbox inputbox-title">
                                            <textarea type="textarea" class="textbox mb-20" cols="30" rows="5" placeholder="해결이 필요한 문제에 대해 자세히 설명해주세요." style="padding: 15px;"></textarea>

                                            <div class="btn-wrapper" style="height: 40px;">
                                                <button class="btn disabled"> 문의하기 </button>
                                            </div>
                                        </section>
                                        </div>
                                    </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>