<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program detail</title>
    <link rel="stylesheet" href="/css/program/detail.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
<!--    <link rel="stylesheet" href="/css/header/header.css"/>-->
</head>
<body>
<!--<div th:replace="/header/header.html :: header" class="header"/>-->
<div id="main-grid">
    <div class="d-application-row">
    <div class="d-application-col">
        <div class="grid-fluid">
        <div class="grid-fluid-row">
            <div class="banner-background"></div>
            <div class="grid-container">
            <div class="grid-container-row">
            <div class="grid-container-col">
                <section class="pg-detail-banner">
                    <div class="banner-title-container">
                        <span class="pg-detail-banner-chip">무료</span>
                        <div class="pg-detail-banner-title">일일 무 뽑기 프로그램</div>
                        <div class="pg-detail-banner-headline">무를 한 번 뽑아보아요!</div>
                    </div>
                    <div class="banner-image-container">
                        <img class="pg-detail-banner-image" src="/image/program/pgimage.gif">
                    </div>
                </section>
            </div>
            <div class="grid-container-col2"></div>
            <div class="grid-container-col3">
                <section class="pg-detail-sidebox-wrapper">
                    <aside>
                        <article class="pg-detail-sidebox">
                            <div class="pg-typography">
                                <div class="sidebox-category">
                                    <div class="sidebox-category-name">멘티전용</div>
                                </div>
                                <div class="sidebox-title">일일 무 뽑기 프로그램</div>
                                <div class="sidebox-detail">
                                    <div class="sidebox-difficulty">
                                        <img class="sidebox-image" src="https://cdn.comento.kr/images/emojis/emoji-seedling.svg">
                                        <div class="sidebox-difficulty-info"><strong class="s">입문자</strong> 대상 <strong class="s">베이직 클래스</strong>입니다.</div>
                                    </div>
                                    <div class="sidebox-info">
                                        <div class="sidebox-item-content">
                                            <div class="sidebox-item-content-info">
                                                <img class="content-img" src="/image/program/date.gif">
                                                <div class="content-caption">22.11.30(수)</div>
                                            </div>
                                            <div class="sidebox-item-content-info">
                                                <img class="content-img" src="/image/program/time.gif">
                                                <div class="content-caption">09:00~18:00</div>
                                            </div>
                                            <div class="sidebox-item-content-info">
                                                <img class="content-img" src="/image/program/count.gif">
                                                <div class="content-caption">정원 10명</div>
                                            </div>
                                            <div class="sidebox-item-content-info">
                                                <img class="content-img" src="/image/program/money.gif">
                                                <div class="content-caption">10,000원</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="apply-a">
                                    <button class="apply-button">
                                        <div class="button-icon"></div>
                                        프로그램 신청하기
                                        <div class="button-icon"></div>
                                    </button>
                                </a>
                            </div>
                        </article>
                        <div class="pg-deadline-timer">
                            <div class="pg-deadline-timer-wrapper">
                                <div class="timer-info">
                                    <img class="content-img" src="/image/program/redmark.gif">
                                    <div class="timer-caption">
                                        <div class="timer-caption-line">
                                            <span class="timer-caption-point">3일 3시간 46분 50초</span>
                                            후 클래스가 마감돼요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </section>
            </div>
            </div>
            </div>
        </div>
        </div>
        <div class="grid-fluid-second">
        <div class="grid-fluid-second-row">
        <div class="grid-fluid-second-col">
        <div class="grid-container">
        <div class="grid-container-row">
        <div class="grid-container-col2">
            <div class="pg-detail-up-box">
                <div class="up-box-left">현직자의 <br>실무 활용법으로 <br>성과를 만드세요.</div>
                <div class="up-box-right">실무PT는
                    <strong class="s">'어떻게든 성과를 만들고 싶은 실무자'</strong>
                    를 위한 클래스입니다.<br>
                    현직자 멘토가 직접 만든 실무 강의를 듣고, 과제를 풀어보고,<br>
                    라이브 피드백을 받아
                    <strong class="s">성과를 내는 방법을 '내 것'</strong>으로 만듭니다.</div>
            </div>
            <ul class="pg-detail-progress-box">
                <li style="padding-right: 8px">
                    <div class="progress-box1">
                        <img class="progress-img" src="https://cdn.comento.kr/images/emojis/emoji-memo.svg">
                        <div class="progress-box-title">실무 과제</div>
                    </div>
                    <div class="progress-box-body">
                        실무 과제를 통해 배우면<br>
                        즉시 업무에 적용하고<br>
                        성과를 낼 수 있어요.
                    </div>
                </li>
                <img class="img-next" src="/image/program/next.gif">
                <li>
                    <div class="progress-box1">
                        <img class="progress-img" src="https://cdn.comento.kr/images/emojis/emoji-counterclockwise-arrows-button.svg">
                        <div class="progress-box-title">피드백과 토의</div>
                    </div>
                    <div class="progress-box-body">
                        라이브 피드백을 통해<br>
                        솔루션을 내 업무에 대입하고<br>
                        현직자의 방법을 익히세요.
                    </div>
                </li>
                <img class="img-next" src="/image/program/next.gif">
                <li style="padding-right: 12px">
                    <div class="progress-box1">
                        <img class="progress-img" src="https://cdn.comento.kr/images/emojis/emoji-man-technologist.svg">
                        <div class="progress-box-title">바로 적용</div>
                    </div>
                    <div class="progress-box-body">
                        오늘 익힌 실무 스킬이<br>
                        즉시 내 업무 성과가 되는<br>
                        놀라운 경험으로 이어져요.
                    </div>
                </li>
            </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!--<div th:replace="/footer/footer.html :: footer" class="footer"/>-->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
</html>