<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program apply</title>
    <link rel="stylesheet" href="/css/program/pay.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
</head>
<body>
<div th:replace="/header/header.html :: header" class="header"/>
<div class="main-grid">
    <div class="c-row">
        <div class="c-grid-container">
            <div class="no-gutters">
                <div class="mentor-show">
                    <div class="telling-avatar-quote">
                        <div class="telling-wrapper">
                            <div class="telling-title">
                                <div class="telling-title-content">닉네임님, 참여를 결정해주셔서 감사드려요!</div>
                            </div>
                            <div class="telling-body">
                                <div class="telling-body-content">
                                    실무 역량을 키우고 싶은데, 혼자서는 어렵게 느껴지셨죠?<br>
                                    실무PT와 함께라면 어느새 실무에 활용하는 나를 발견할 수 있을거예요.</div>
                            </div>
                        </div>
                        <div class="avatar-wrapper">
                            <div class="avatar-container">
                                <img class="user-img" src="/image/program/user.webp">
                                <div class="user-div"></div>
                            </div>
                            <div class="avatar-name">
                                <div class="farmer-name">농장주이름</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-show">
                    <div class="apply-box">
                        <div class="callout-box">
                            <div class="callout-wrapper">
                                <div class="c-w-full">
                                    <img class="callout-img" src="/image/program/greencheck.gif">
                                    <div class="callout-message">
                                        4명이 프로그램명에 신청했어요. 서두르세요!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-line">결제자 정보</div>
                        <span class="user-info">
                <form action="" id="pg-apply-form" name="paymentForm">
                    <!-- 결제자 정보 -->
                    <div class="card-item-wrapper">
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">이름</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="name" id="username">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption1" ></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">전화번호</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="phone" id="userphone">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption2" ></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">이메일</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="text-field-input-wrapper">
                                    <input type="text" class="text-field-name" name="email" id="useremail">
                                </div>
                                <div class="c-hint"><!--유효성검사 결과 부분(js)-->
                                    <p class="caption3" ></p>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pg-apply-form-input">
                        <div class="apply-form-body">신청인원</div>
                        <span class="body-span">
                            <div class="body-text-field">
                                <div class="apply-count">1명</div>
                            </div>
                        </span>
                    </div>
                    </div>
                    <!-- 결제 금액 -->
                    <div class="card-item-wrapper">
                        <div class="user-line">결제 금액</div>
                    </div>
                    <!-- 결제 수단 -->
                    <div class="card-item-wrapper">
                        <div class="user-line">결제 수단</div>
                    </div>
                    <!-- 이용약관 및 유의사항 -->
                    <div class="card-item-wrapper"></div>
                    <!-- 결제버튼 -->
                    <div class="button-wrapper">
                    <button type="button" class="pay-button" id="pay">
                        <div class="button-icon" >결제하기</div></button>
                    </div>
                </form>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/header/header.js"></script>
</html>