<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program register</title>
    <link rel="stylesheet" href="/css/program/register.css"/>
    <link rel="stylesheet" href="/css/common/font.css"/>
</head>
<body>
<div class="__nuxt">
    <div id="__layout">
        <div id="main-grid">
            <div class="c-new-row">
            <div class="c-new-col">
            <span>
            <!--헤더-->
            <div>
                <div class="pg-opening-header-container">
                <div class="c-new-row">
                <div class="c-new-col new-col-log-12">
                    <div class="opening-header">
                        <div class="opening-header-left">
                            <div class="left-title">새 프로그램</div>
                        </div>
                        <div class="opening-header-right flex">
                            <button class="header-button1"><div class="flex"/>저장하기<div class="flex"/></button>
                            <button class="header-button2"><div class="flex"/>나가기<div class="flex"/></button>
                        </div>
                    </div>
                    <div class="opening-progress-bar-background">
                        <div class="opening-progress-bar">
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <!--글 본문-->
            <div class="opening-body-container">
            <!--프로그램 대상-->
            <span id="pg1">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title"><span class="point-title">누구를 위한 프로그램</span>을 열까요?</div>
                        <div class="profile-subtitle">누구를 위해, 어떤 스킬을 알려주실 수 있는 지 알려주세요.</div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">농작물</div>
                        <div class="body-caption">프로그램에서 다루는 농작물을 알려주세요.</div>
                    </div>
                    <span>
                        <div class="opening-short-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" placeholder="예시 ) 감자, 고구마" name="text-field" autocomplete="off" class="c-text-field-input">
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">대상자 선정</div>
                        <div class="body-caption">선수 지식이 필요한 경우 '경험자'를 선택해주세요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group">
                        <span class="select-chip c-chip">입문자</span>
                        <span class="select-chip c-chip">경험자</span>
                        <span class="select-chip c-chip">전문가</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 대상</div>
                        <div class="body-caption">어떤 사람들을 위한 프로그램인가요?</div>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="도움받을 수 있는 상황을 함께 적으면 좋아요!" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 2" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 3" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 4" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>
                </div>
                </div>
            </span>
            <!--프로그램 목표-->
            <span id="pg2">
            <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title">프로그램이 끝나면,<br></gr><span class="point-title">어떤 작업을 할 수 있게 될까요?</span></div>
                        <div class="profile-subtitle"></div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 제목</div>
                        <div class="body-caption">프로그램의 주제, 대상, 전문성이 드러날 수 있도록 작성해주세요.</div>
                    </div>
                    <span>
                        <div class="opening-long-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" placeholder="부담 없이 작성하세요!" name="text-field" autocomplete="off" class="c-text-field-input2">
                                </div>
                            </div>
                            <div class="input-length">
                                <div class="length-wrapper">
                                    <div class="c-caption1">0</div>
                                </div>
                                <div>
                                    <div class="c-caption2">/76</div>
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 난이도</div>
                        <div class="body-caption">초급은 '베이직', 중급은 '스킬업', 고급은 '마스터'로 표시돼요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group">
                        <span class="select-chip c-chip">초급</span>
                        <span class="select-chip c-chip">중급</span>
                        <span class="select-chip c-chip">고급</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 결과</div>
                        <div class="body-caption">어떤 사람들을 위한 프로그램인가요?</div>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" placeholder="공감할 수 있는 구체적인 상황을 작성하면 인기 클래스가 될 확률이 높아요!" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" placeholder="결과 2" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" placeholder="결과 3" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container2">
                            <input type="text" placeholder="결과 4" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 소개</div>
                        <div class="body-caption">프로그램을 통해 전달하고 싶은 내용이 드러나도록 작성해주세요.</div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container-textarea">
                            <textarea placeholder="멘토님이 프로그램을 통해 전달하고 싶은 것, 그것을 잘 전달할 수 있는 멘토님만의 배경 및 전략, 클래스를 만든 이유 등을 녹여보세요!" autocomplete="off" class="textarea-editor"></textarea>
                        </div>
                    </div>
                </section>
                </div>
                </div>
            </span>
            <!--프로그램 소개-->
            <span id="pg3">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title">프로그램은 <span class="point-title">어떻게 진행</span>될까요?</div>
                        <div class="profile-subtitle">프로그램을 수강할 사람들을 위해, 프로그램에 대해 조금 더 자세히 알려주세요.</div>
                    </div>
                </section>
                <!--<section>
                    <div class="mb-12">
                        <div class="section-body">농작물</div>
                        <div class="body-caption">프로그램에서 다루는 농작물을 알려주세요.</div>
                    </div>
                    <span>
                        <div class="opening-short-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" placeholder="예시 ) 감자, 고구마" name="text-field" autocomplete="off" class="c-text-field-input">
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">대상자 선정</div>
                        <div class="body-caption">선수 지식이 필요한 경우 '경험자'를 선택해주세요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group">
                        <span class="select-chip c-chip">입문자</span>
                        <span class="select-chip c-chip">경험자</span>
                        <span class="select-chip c-chip">전문가</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 대상</div>
                        <div class="body-caption">어떤 사람들을 위한 프로그램인가요?</div>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="도움받을 수 있는 상황을 함께 적으면 좋아요!" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 2" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 3" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 4" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>-->
                </div>
                </div>
            </span>
            <!--상세 커리큘럼-->
            <span id="pg4">
                <div class="c-new-row target-row">
                <div class="c-new-col target-col">
                <section class="profile-title-section">
                    <div>
                        <div class="profile-title">프로그램 목표를 달성하려면<br><span class="point-title">어떤 내용이 담겨야 할까요?</span></div>
                        <div class="profile-subtitle">프로그램 목표를 달성하기 위해 진행되는 과정에 대해 상세히 작성해주세요.</div>
                    </div>
                </section>
                <!--<section>
                    <div class="mb-12">
                        <div class="section-body">농작물</div>
                        <div class="body-caption">프로그램에서 다루는 농작물을 알려주세요.</div>
                    </div>
                    <span>
                        <div class="opening-short-input">
                            <div class="c-text-field">
                                <div class="field-input-wrapper">
                                    <input type="text" placeholder="예시 ) 감자, 고구마" name="text-field" autocomplete="off" class="c-text-field-input">
                                </div>
                            </div>
                        </div>
                    </span>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">대상자 선정</div>
                        <div class="body-caption">선수 지식이 필요한 경우 '경험자'를 선택해주세요.</div>
                    </div>
                    <div>
                        <div class="opening-chip-group">
                        <span class="select-chip c-chip">입문자</span>
                        <span class="select-chip c-chip">경험자</span>
                        <span class="select-chip c-chip">전문가</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="mb-12">
                        <div class="section-body">프로그램 대상</div>
                        <div class="body-caption">어떤 사람들을 위한 프로그램인가요?</div>
                    </div>
                    <div class="opining-input-group">
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="도움받을 수 있는 상황을 함께 적으면 좋아요!" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 2" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 3" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    <div class="quill-editor">
                        <div class="ql-container">
                            <input type="text" placeholder="대상 4" name="target-1" autocomplete="off" class="ql-editor">
                        </div>
                    </div>
                    </div>
                </section>-->
                </div>
                </div>
            </span>
            </div>
            <!--왼쪽 사이드바 -->
            <div class="opening-side-box">
            <div class="side-box-step-container">
                <div class="side-box-step">
                    <div id="pg-1" class="side-box-title pick">프로그램 대상</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-2" class="side-box-title">프로그램 목표</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-3" class="side-box-title">프로그램 소개</div>
                </div>
                <div class="side-box-step">
                    <div id="pg-4" class="side-box-title">상세 커리큘럼</div>
                </div>
            </div>
            </div>
            <!--하단 사이드바 -->
            <div class="opening-footer-container">
            <div class="c-new-row">
            <div class="c-new-col new-col-log-12">
            <div class="opening-footer">
                <button class="footer-prev"><div class="flex"><img class="footer-img-prev" src="/image/program/prev_register.gif"></div>이전<div class="flex"/></button>
                <button class="footer-next"><div class="flex"/>다음<div class="flex"><img class="footer-img-next" src="/image/program/next_register.gif"></div></button>
            </div>
            </div>
            </div>
            </div>
            </span>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/program/register.js"></script>
</html>