@charset "utf-8";
@media only screen and (min-width: 768px) {
    html ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border: 3px solid #fff;
    }
}

    @media only screen and (min-width: 768px) {
        html ::-webkit-scrollbar-thumb {
            height: 50px;
            width: 50px;
            background: #eaecee;
            border-radius: 8px;
            -webkit-box-shadow: inset 0 0 4px rgb(0 0 0 / 10%);
        }
    }

        @media only screen and (min-width: 768px) {
            html ::-webkit-scrollbar-track {
                background: #f3f4f5;
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 4px rgb(0 0 0 / 20%);
            }
        }

body {
    color: #495057;
    font-family: Pretendard,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Trebuchet MS,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    min-height: 100%;
    font-size: 10px;
    position: relative;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #495057;
    font-family: Pretendard,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Trebuchet MS,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

.clearfix:after, .clearfix:before, .container:after, .container:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.clearfix:after, .container:after, .row:after {
    clear: both;
}

body ::selection {
    color: inherit;
    background-color: #e6e6e6;
    background-color: fade(#000,10);
    cursor: text;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

p {
    font-size: 18px;
    line-height: 25px;
    word-break: keep-all;
    word-wrap: break-word;
    font-weight: 400;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

.c-new-grid.container {
    max-width: 100vw;
}

.c-new-grid {
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*서브헤더*/
#faq .faq-search {
    position: absolute;
    left: 50px;
    right: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

#faq .faq-search-box-input {
    display: block;
    border: 0;
    width: 570px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border-radius: 3px;
    line-height: 60px;
    height: 60px;
    padding: 16px 24px;
}

#faq, #faq .faq {
    position: relative;
}

#faq .faq-search-title {
    color: #fff;
    margin-bottom: 24px;
}

#faq .faq-search-box-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: auto;
    height: 100%;
    background: transparent;
    padding-right: 15px;
}


#faq .faq-banner img {
    vertical-align: top;
    width: 100%;
}

#faq .faq-banner-img {
    min-height: 350px;
}

img {
    border-style: none;
    max-width: 100%;
}

body ::selection {
    color: inherit;
    background-color: #e6e6e6;
    background-color: fade(#000,10);
    cursor: text;
}

/*목록부분*/
.c-new-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.c-new-col{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#faq .faq-board {
    background: #fff;
    margin-bottom: 50px;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    margin-top: 27px;
}

.text-primary {
    color: #2a7de1;
}

#faq .faq-board-list {
    display: block;
    height: 70px;
    line-height: 70px;
}

#faq .faq-board-list-question {
    position: relative;
    padding: 0 60px 0 30px;
    width: 100%;
    line-height: 70px;
    cursor: pointer;
}

#faq .faq-board-list {
    display: block;
    height: 70px;
    line-height: 70px;
    width: 100%;
    margin: 0 auto;
}

#faq .faq-board-list-answer {
    display: none;
    line-height: 25px;
}

#faq .faq-board-list-question:before {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    margin: auto;
    content: "";
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #adb5bd;
    border-left: 2px solid #adb5bd;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .2s ease;
    /* transition: all .2s ease; */
}

#faq .faq-board-list.active .faq-board-list-question:before {
    top: 15px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}


#faq .faq-board-list.active .faq-board-list-answer {
    display: block;
    padding: 30px;
    background: #f4f5f7;
}
#faq .faq-board-list.active {
    height: auto;
}
#faq .faq-board-list {
    display: block;
    height: 70px;
    line-height: 70px;
}

/*===================================================================*/
.blinder {
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    height: 2000px;
    background-color: #000;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
    opacity: .7;
}

.blinder2 {
    z-index: 9998;
    background-color: #fff;
}

.blinder2, .custom-feed-blinder {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2000px;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
    opacity: .7;
}

.blinder2, .custom-feed-blinder {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2000px;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
    opacity: .7;
}

.custom-feed-blinder {
    z-index: 50;
    background-color: #000;
}